---
layout: default
---
<article class="post">

<header class="post-header">
<h1 class="post-title">{{ page.title | escape }}</h1>
</header>

<ul class="post-list">
{%- for post in site.categories[page.tag] -%}
<li>
{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
{{ post.date | date: date_format }}
<h3>

<a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>

</h3>
{%- if site.show_excerpts -%}
{{ post.excerpt }}
{%- endif -%}
</li>
{%- endfor -%}
</ul>

</article>

<hr>

<div class="categories">
    <h1 class="h1 category-title">
      Topic:&nbsp;{{ page.category }}/
    </h1>
    <div class="posts">
      {% for post in site.categories[page.category] %}
        <div class="post py3">
          <p class="post-meta">
        {% if site.date_format %}
            {{ post.date | date: site.date_format }}
        {% else %}
            {{ post.date | date: "%b %-d, %Y" }}
        {% endif %}
        </p>
          <a href="{{ post.url | relative_url }}" class="post-link">
            <h3 class="h1 post-title">
              {{ post.title }}
            </h3>
          </a>
          <span class="post-summary">
              {{ post.excerpt }}
          </span>
        </div>
    </div>
</div>